# Experimentation

## Data Ingestion

In [1]:
import os
import pandas as pd

In [2]:
pwd

'C:\\Users\\User\\Documents\\workspace_datahackermen\\insurance_premium_prediction'

In [3]:
FILE_NAME = "insurance.csv"
DATA_FOLDER = "data"

In [4]:
main_path = os.getcwd()
main_path

'C:\\Users\\User\\Documents\\workspace_datahackermen\\insurance_premium_prediction'

In [5]:
file_path = os.path.join(os.path.join(main_path, DATA_FOLDER), FILE_NAME)

In [6]:
file_path

'C:\\Users\\User\\Documents\\workspace_datahackermen\\insurance_premium_prediction\\data\\insurance.csv'

In [7]:
%%time

insurance_data = pd.read_csv(file_path)

CPU times: total: 0 ns
Wall time: 0 ns

In [8]:
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
insurance_data.shape

(1338, 7)

## Data Inspection

In [10]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

## Exploration Data Analysis

* Statistical Analysis
* Plots
* Correlation

## Model Building

In [11]:
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Train Test Split

In [12]:
# 0.3, 0.7

In [13]:
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor

In [14]:
# y = mX + c

In [25]:
X = insurance_data[["age", "sex", "bmi", "children", "smoker", "region"]]

In [26]:
type(X)

pandas.core.frame.DataFrame

In [27]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [28]:
y = insurance_data["charges"]

In [29]:
type(y)

pandas.core.series.Series

In [30]:
y[0:5]

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [33]:
X_train.shape, X_test.shape

((896, 6), (442, 6))

In [34]:
train_data, test_data = train_test_split(insurance_data, test_size=0.33, random_state=42)

In [35]:
train_data.shape, test_data.shape

((896, 7), (442, 7))

In [36]:
train_data.head()

      age     sex     bmi  children smoker     region      charges
1046   43  female  25.080         0     no  northeast   7325.04820
682    39    male  35.300         2    yes  southwest  40103.89000
1037   45  female  30.495         1    yes  northwest  39725.51805
490    19  female  32.900         0     no  southwest   1748.77400
39     60    male  39.900         0    yes  southwest  48173.36100

In [37]:
test_data.head()

      age     sex     bmi  children smoker     region      charges
764    45  female  25.175         2     no  northeast   9095.06825
887    36  female  30.020         0     no  northwest   5272.17580
890    64  female  26.885         0    yes  northwest  29330.98315
1293   46    male  25.745         3     no  northwest   9301.89355
259    19    male  31.920         0    yes  northwest  33750.29180

In [38]:
label = 'charges'
print("Summary of class variable: \n", train_data[label].describe())

Summary of class variable:
 count      896.000000
mean     13379.688250
std      12110.713713
min       1121.873900
25%       4819.842913
50%       9556.297050
75%      17092.916520
max      62592.873090
Name: charges, dtype: float64

In [39]:
save_path = 'models'
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)

Warning: path already exists! This predictor may overwrite an existing predictor! path="models"
Beginning AutoGluon training ...
AutoGluon will save models to "models\"
AutoGluon Version:  0.6.2
Python Version:     3.9.16
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22621
Train Data Rows:    896
Train Data Columns: 6
Label Column: charges
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (62592.87309, 1121.8739, 13379.68825, 12110.71371)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    16981.37 MB
	Train Data (Original)  Memory Usage: 0.19 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 1 | ['bmi']
		('int', [])    : 2 | ['age', 'children']
		('object', []) : 3 | ['sex', 'smoker', 'region']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 1 | ['region']
		('float', [])     : 1 | ['bmi']
		('int', [])       : 2 | ['age', 'children']
		('int', ['bool']) : 2 | ['sex', 'smoker']
	0.1s = Fit runtime
	6 features in original data used to generate 6 features in processed data.
	Train Data (Processed) Memory Usage: 0.02 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.1s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 716, Val Rows: 180
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-13400.4853	 = Validation score   (-root_mean_squared_error)
	12.25s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-13842.3468	 = Validation score   (-root_mean_squared_error)
	0.01s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMXT ...
	-5173.9168	 = Validation score   (-root_mean_squared_error)
	4.2s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBM ...
	-5040.5316	 = Validation score   (-root_mean_squared_error)
	0.59s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: RandomForestMSE ...
	-5103.4368	 = Validation score   (-root_mean_squared_error)
	10.01s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: CatBoost ...
	-5048.3579	 = Validation score   (-root_mean_squared_error)
	41.49s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: ExtraTreesMSE ...
	-5194.2629	 = Validation score   (-root_mean_squared_error)
	0.33s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	-5444.8876	 = Validation score   (-root_mean_squared_error)
	2.04s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: XGBoost ...
	-5164.9565	 = Validation score   (-root_mean_squared_error)
	1.93s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	-5577.0718	 = Validation score   (-root_mean_squared_error)
	3.15s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: LightGBMLarge ...
	-5337.1092	 = Validation score   (-root_mean_squared_error)
	1.35s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	-4963.8242	 = Validation score   (-root_mean_squared_error)
	0.22s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 78.12s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("models\")

In [40]:
predictor.leaderboard(silent=True)

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,-4963.824189,0.094466,55.467043,0.000000,0.223689,2,True,12
1,LightGBM,-5040.531574,0.006628,0.591663,0.006628,0.591663,1,True,4
2,CatBoost,-5048.357888,0.002010,41.490844,0.002010,41.490844,1,True,6
3,RandomForestMSE,-5103.436805,0.024789,10.011115,0.024789,10.011115,1,True,5
4,XGBoost,-5164.956518,0.004437,1.928330,0.004437,1.928330,1,True,9
5,LightGBMXT,-5173.916806,0.007004,4.203029,0.007004,4.203029,1,True,3
6,ExtraTreesMSE,-5194.262922,0.026151,0.326469,0.026151,0.326469,1,True,7
7,LightGBMLarge,-5337.109204,0.008552,1.347549,0.008552,1.347549,1,True,11
8,NeuralNetFastAI,-5444.887643,0.052877,2.039473,0.052877,2.039473,1,True,8
9,NeuralNetTorch,-5577.071820,0.061040,3.149732,0.061040,3.149732,1,True,10
10,KNeighborsUnif,-13400.485342,0.028303,12.248605,0.028303,12.248605,1,True,1
11,KNeighborsDist,-13842.346813,0.014440,0.006249,0.014440,0.006249,1,True,2

## Model Evaluation

In [41]:
test_data.head()

      age     sex     bmi  children smoker     region      charges
764    45  female  25.175         2     no  northeast   9095.06825
887    36  female  30.020         0     no  northwest   5272.17580
890    64  female  26.885         0    yes  northwest  29330.98315
1293   46    male  25.745         3     no  northwest   9301.89355
259    19    male  31.920         0    yes  northwest  33750.29180

In [42]:
y_test = test_data[label]  # values to predict

In [43]:
y_test[0:5]

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
Name: charges, dtype: float64

In [44]:
test_data_nolab = test_data.drop(columns=[label])  # delete label column to prove we're not cheating
test_data_nolab.head()

      age     sex     bmi  children smoker     region
764    45  female  25.175         2     no  northeast
887    36  female  30.020         0     no  northwest
890    64  female  26.885         0    yes  northwest
1293   46    male  25.745         3     no  northwest
259    19    male  31.920         0    yes  northwest

In [45]:
save_path

'models'

Now, load in the stored models.

In [47]:
predictor

In [48]:
save_model_predictor = TabularPredictor.load(save_path)

In [49]:
save_model_predictor

In [50]:
y_pred = save_model_predictor.predict(test_data_nolab)

In [51]:
y_pred[0:5]

764     10108.866211
887      5877.496094
890     28111.328125
1293     9656.276367
259     33267.687500
Name: charges, dtype: float32

In [52]:
print("Predictions:  \n", y_pred)
perf = save_model_predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: root_mean_squared_error on test data: -4494.356802564191
	Note: Scores are always higher_is_better. This metric score can be multiplied by -1 to get the metric value.
Evaluations on test data:
{
    "root_mean_squared_error": -4494.356802564191,
    "mean_squared_error": -20199243.068755016,
    "mean_absolute_error": -2457.7053200512055,
    "r2": 0.8621632229228282,
    "pearsonr": 0.9287326910318574,
    "median_absolute_error": -1308.0630169921876
}

Predictions:
 764     10108.866211
887      5877.496094
890     28111.328125
1293     9656.276367
259     33267.687500
            ...
644     10410.051758
602     13677.620117
731     11534.271484
321      7532.174316
479      4793.734375
Name: charges, Length: 442, dtype: float32

In [53]:
save_model_predictor.leaderboard(test_data, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,LightGBMXT,-4440.935447,-5173.916806,0.005405,0.007004,4.203029,0.005405,0.007004,4.203029,1,True,3
1,CatBoost,-4454.783224,-5048.357888,0.015626,0.002010,41.490844,0.015626,0.002010,41.490844,1,True,6
2,WeightedEnsemble_L2,-4494.356803,-4963.824189,0.200443,0.094466,55.467043,0.000000,0.000000,0.223689,2,True,12
3,NeuralNetFastAI,-4511.273827,-5444.887643,0.094156,0.052877,2.039473,0.094156,0.052877,2.039473,1,True,8
4,LightGBM,-4569.536960,-5040.531574,0.005995,0.006628,0.591663,0.005995,0.006628,0.591663,1,True,4
5,XGBoost,-4661.412208,-5164.956518,0.031249,0.004437,1.928330,0.031249,0.004437,1.928330,1,True,9
6,NeuralNetTorch,-4673.269883,-5577.071820,0.109842,0.061040,3.149732,0.109842,0.061040,3.149732,1,True,10
7,ExtraTreesMSE,-4744.929210,-5194.262922,0.110664,0.026151,0.326469,0.110664,0.026151,0.326469,1,True,7
8,RandomForestMSE,-4795.645634,-5103.436805,0.068980,0.024789,10.011115,0.068980,0.024789,10.011115,1,True,5
9,LightGBMLarge,-5017.058130,-5337.109204,0.031258,0.008552,1.347549,0.031258,0.008552,1.347549,1,True,11
10,KNeighborsUnif,-12039.460207,-13400.485342,0.014485,0.028303,12.248605,0.014485,0.028303,12.248605,1,True,1
11,KNeighborsDist,-12480.341560,-13842.346813,0.018779,0.014440,0.006249,0.018779,0.014440,0.006249,1,True,2

## Bringing it all together

In [54]:
test_data["predicted_charges"] = y_pred

In [55]:
test_data["region"].unique()

array(['northeast', 'northwest', 'southwest', 'southeast'], dtype=object)

In [56]:
test_data.head()

,age,sex,bmi,children,smoker,region,charges,predicted_charges
764,45,female,25.175,2,no,northeast,9095.06825,10108.866211
887,36,female,30.020,0,no,northwest,5272.17580,5877.496094
890,64,female,26.885,0,yes,northwest,29330.98315,28111.328125
1293,46,male,25.745,3,no,northwest,9301.89355,9656.276367
259,19,male,31.920,0,yes,northwest,33750.29180,33267.687500

In [57]:
test_data["error_values"] = abs(test_data["charges"] - test_data["predicted_charges"])

In [58]:
test_data.head()

,age,sex,bmi,children,smoker,region,charges,predicted_charges,error_values
764,45,female,25.175,2,no,northeast,9095.06825,10108.866211,1013.797961
887,36,female,30.020,0,no,northwest,5272.17580,5877.496094,605.320294
890,64,female,26.885,0,yes,northwest,29330.98315,28111.328125,1219.655025
1293,46,male,25.745,3,no,northwest,9301.89355,9656.276367,354.382817
259,19,male,31.920,0,yes,northwest,33750.29180,33267.687500,482.604300